
<div class="cartItem" *ngIf="item != undefined ">
  <span class="col-lg-1 col-xs-2 cart-item-count">{{item.count}}x</span>
  <span class="col-lg-8 col-xs-6"> {{item.pizza.name}}</span>
  <span class="col-lg-3 col-xs-4 price"><app-price [value]="item.pizza.price"></app-price></span>
</div>
