<div class="container">
  <p class="lead">Die besten Pizzen der Welt!</p>
</div>
<div class="row">
  <div class="container">
    <div class="form-group col-lg-6 col-xs-12">
      <input type="text" [(ngModel)]="searchForVal" class="form-control form-control-lg" name="" id="suchfeld" aria-describedby="helpId"
        placeholder="Pizzaliste durchsuchen">
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Bezeichnung</th>
          <th>Preis</th>
        </tr>
      </thead>
      <tr (click)="showPizzaDetails(pizza)" class="pizza-{{pizza.id}}" *ngFor="let pizza of pizzas | pizzaPipe: searchForVal">
        <td>{{pizza.id}}</td>
        <td class="pizzaName">{{pizza.name}}</td>
        <td>
          <app-price [value]="pizza.price"></app-price>
        </td>
        <td>
          <button type="button" id="pizza-{{pizza.id}}" (click)='addToCart(pizza);$event.stopPropagation()' name="" id="" class="btn btn-primary btn-block">
              <span  class="glyphicon glyphicon-plus"></span>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<app-pizza-cart></app-pizza-cart>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Jeden Cent wert!</span>
  </div>
</footer>

<div bsModal #pizzaDetailModal="bs-modal" class="modal fade pizzaDetails" tabindex="-1" role="dialog" aria-labelledby="pizzaDetails"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{detailPizza.name}}</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="tag tag-default tag-pill float-xs-right">ID: {{detailPizza.id}}</span>
          </li>
          <li class="list-group-item">
            <span class="tag tag-default tag-pill float-xs-right">Preis: {{detailPizza.price}}</span>
          </li>
          <li class="list-group-item disabled">
            <span class="tag tag-default tag-pill float-xs-right">Foto kommt noch</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
