<div class="container">
  <div class="row">
    <div class="bs-docs-section">
      <h1 id="kontakt">Kontakt</h1>
      <address>
        <strong>Bernd Heidemann</strong><br> Meta Sattler Straße 33<br> 21618 Bremen<br>
        <abbr title="Telefonnummer">Tel.</abbr> +49 1573 1223341<br>
        <abbr title="Email-Adresse">Email</abbr> <a href="mailto:asdawdwdp@gmail.com">b.heidemann@gmail.com</a>
      </address>
    </div>

    <!-- Haftungsausschluss
================================================== -->
    <div class="bs-docs-section">
      <h1 id="disclaimer">Haftungsausschluss (Disclaimer)</h1>
      <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können
        wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige
        Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf
        mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine
        permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung
        nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
    </div>

    <p class="text-muted">Quelle: <a href="http://www.e-recht24.de/impressum-generator.html">www.e-recht24.de</a></p>
  </div>
</div>
