<nav class="navbar navbar-inverse">
    <div class="container">
        <a class="navbar-brand">PizzaShop Heidemann</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="shop">Shop</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="addPizza">neue Pizza</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="impressum">Impressum</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="anfahrt">Anfahrt</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>



