<div class="container">
  <div class="row">
    <h3>Neue Pizza anlegen</h3>
  </div>
  <div #pizza class="row">
    <div class="form-group">
      <label for="pizzaID">ID</label>
      <input type="text" class="form-control" [(ngModel)]="pizza.id" name="pizzaID" id="" aria-describedby="ID der Pizza" placeholder="Name der Pizza"
        >
    </div>
    <!-- Name der Pizza -->
    <div class="form-group">
      <label for="pizzaName">Name</label>
      <input type="text" class="form-control" [(ngModel)]="pizza.name" name="name" id="name" aria-describedby="Name der Pizza"
        placeholder="Name der Pizza" #name="ngModel" required maxlength="30" minlength="4">
    </div>
    <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
      <div [hidden]="!name.errors.required">
        Eingabe des Namens ist notwenig
      </div>
      <div [hidden]="!name.errors.minlength">
        Name der Pizza mindestens 4 Zeichen lang
      </div>
      <div [hidden]="!name.errors.maxlength">
        Name der Pizza nicht länger als 30 Zeichen
      </div>
    </div>

    <div class="form-group">
      <label for="pizzaPreis">Preis</label>
      <input type="number" class="form-control" [(ngModel)]="pizza.price" name="pizzaPreis" id="" aria-describedby="Preis" placeholder="Preis der Pizza">
    </div>
    <button type="submit" class="btn btn-primary" (click)="savePizza(pizza)">speichern</button>


  </div>

</div>
