 <div class="row">
      <div class="container">
        <h2><span class="label label-default">Ihre Bestellung:</span></h2>
        <div *ngIf="cartMessage" class="alert alert-warning cartMessage">
           {{cartMessage}}
        </div>
          <ul class="list-group">
            <li id="cart-{{pizzaCartItem.cartId}}" (click)="removePizzaCartItem(pizzaCartItem.cartId)"   *ngFor="let pizzaCartItem of cartItems" class="list-group-item">
              <app-cart-item [item]="pizzaCartItem"></app-cart-item>
            </li>
          <li *ngIf="cartsum > 0" class="list-group-item" id="cartsum" class="list-group-item">Bestellwert: <app-price [value]="cartsum"></app-price></li>
          </ul>        
      </div>
    </div>
